body {
  font-family: Arial, sans-serif;
  background-color: #f0f9f0;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

button {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
